/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {    color: #222;}
html {    font-size: 1em;    line-height: 1.4;}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {    background: #b3d4fc;    text-shadow: none;}
::selection {    background: #b3d4fc;    text-shadow: none;}
/*
 * A better looking default horizontal rule
 */
hr {    display: block;    height: 1px;    border: 0;    border-top: 1px solid #ccc;    margin: 1em 0;    padding: 0;}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,canvas,img,video {    vertical-align: middle;}
/*
 * Remove default fieldset styles.
 */
fieldset {    border: 0;    margin: 0;    padding: 0;}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {    resize: vertical;}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {    background-color: transparent;     border: 0;    overflow: hidden;
    /* IE 6/7 fallback */    *text-indent: -9999px;}
.ir:before {    content: "";    display: block;    width: 0;    height: 150%;}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {    display: none !important;    visibility: hidden;}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {    border: 0;    clip: rect(0 0 0 0);    height: 1px;    margin: -1px;    overflow: hidden;    padding: 0;    position: absolute;    width: 1px;}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {    clip: auto;    height: auto;    margin: 0;    overflow: visible;    position: static;    width: auto;}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {    visibility: hidden;}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {    content: " "; /* 1 */    display: table; /* 2 */}
.clearfix:after {    clear: both;}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {    *zoom: 1;}


/* ==========================================================================
   Main Site Styles
   ========================================================================== */
* {
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", "Adobe Garamond Pro", Georgia, "Times New Roman";
    background-color: #f6f6f6;
    color:#222222;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://themes.googleusercontent.com/static/fonts/librebaskerville/v2/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
}

.about, .experience {
    float:left;
    width: 100%;  
}

.process {
    background-color: #ffffff;
    float:left;
    width: 100%;  
}

.title {
    font-size:2.4em;
    line-height: 1.38em;
    text-align: center;
    margin-top: 2em;
}

.asset {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.asset img {
  width: 70%;
  max-width: 900px;
  min-width: 300px;
  margin: 2em 0 4em 0; 
}


/* ==========================================================================
   Work Section Styles
   ========================================================================== */
.work {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #222222;
    color: #f6f6f6;
}
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #f6f6f6;
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/*.grid figcaption span:before {
  content: 'in ';
}
*/
.grid figcaption span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);

}
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  color: #f6f6f6;
  color: #f6f6f6;
  text-decoration: none;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.hovercard figure {
  overflow: hidden;
}

.hovercard figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.no-touch .hovercard figure:hover img,
.hovercard figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.hovercard figcaption {
  display:block;
  font-family: "Avenir Next", Arial;
  font-size: 0.75em;
  line-height: 1.38em;
  height: 120px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .hovercard figure:hover figcaption,
.hovercard figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.hovercard figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}



@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}









/* ==========================================================================
   Magnifying Glass Properties
   ========================================================================== */
.glass {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;
  background-color: #f6f6f6;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}




/* ==========================================================================
   Flip Transform
   ========================================================================== */
  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
  }
  .flip-container, .front, .back {
    width: 30vh;
    height: 30vh;
    max-width: 180px;
    max-height: 180px;
    display: block;
    margin: 0 auto;
  }
  
  .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
.front img, .back img {
    width:100%;
  }

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
  }

  .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  /* START: Accommodating for IE */
  .flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  .flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  /* END: Accommodating for IE */
  /*
  .flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
      filter: FlipH;
      -ms-filter: "FlipH";
  }
  */



.flipright{
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
}



/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 80px) {
    /* Style adjustments for viewports that meet the condition */
    .title {
      font-size: 1.8em;
    }
}
@media only screen and (min-width: 640px) {
    /* Style adjustments for viewports that meet the condition */
    .title {
      font-size: 2.4em;
    }
    .asset img {
      margin: 4em 0 8em 0; 
    }

}
@media only screen and (min-width: 1440px) {
    /* Style adjustments for viewports that meet the condition */
    .title {
      font-size: 2.8em;
    }
    .asset img {
      margin: 6em 0 10em 0; 
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
* {
background: transparent !important;
color: #000 !important; /* Black prints faster: h5bp.com/s */
box-shadow: none !important;
text-shadow: none !important;
}

a,a:visited {text-decoration: underline;}
a[href]:after {content: " (" attr(href) ")";}
abbr[title]:after {content: " (" attr(title) ")";}

/*
 * Don't show links for images, or javascript/internal links
 */
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {content: "";}
pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
thead {display: table-header-group; /* h5bp.com/t */}
tr,img {page-break-inside: avoid;}
img {max-width: 100% !important;}
@page {margin: 0.5cm;}
p,h2,h3 {orphans: 3;widows: 3;}
h2,h3 {page-break-after: avoid;}
}







